.remark-slide-content {
  background-color: #FAFAFA;
  border-top: 80px solid #23373B;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em
}

.footnote {
  position: absolute;
  bottom: 0em;
  padding-right: 0em;
  font-size: 80%;
}

.remark-slide-number {
  font-size: 10pt;
  margin-bottom: -11.6px;
  margin-right: 10px;
  color: #FFFFFF; /* white */
  opacity: 0; /* default: 0.5 */
}
